<div class="main-content page-m">
    <div class="section-content section-content-p30"></div>
        <div class="container-fluid" >
            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">

                <!--Customer-->
                <div formGroupName="customer" class="form-area">
                    <h3>Customer</h3>
                    <div class="row">
                        <div class="col-md-2">
                            <label>First Name</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="firstName" type="text">
                                <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger mt-1">
                                    
                                    <div *ngIf="firstName.errors.required || firstName.errors.whiteSpace">
                                        First Name is required
                                    </div>

                                    <div *ngIf="firstName.errors.minlength">
                                        First Name must be at least 2 characters long
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Last Name</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="lastName" type="text">
                                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="lastName.errors.required || lastName.errors.whiteSpace">
                                        Last name is required
                                    </div>
                                    <div *ngIf="lastName.errors.minlength">
                                        Last name needs at least two characters
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>email</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="email" type="text">
                                <div *ngIf="email.invalid && (email.touched || email.dirty)" class="alert alert-danger mt-1">
                                    <div *ngIf="email.errors.required || email.errors.whiteSpaces">
                                        Email is required
                                    </div>
                                    <div *ngIf="email.errors.pattern">
                                        please enter a valid email
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Shipping adres-->
                <div formGroupName="shippingAdres" class="form-area">
                    <h3>Shipping Adres</h3>
                    <div class="row">
                        <div class="col-md-2">
                            <label>country</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country"  (change)="selectCorrespondingStates('shippingAdres')">
                                    <option *ngFor="let theCountry of countries" [ngValue]="theCountry">
                                        {{theCountry.countryName}}
                                    </option>
                                </select>
                                <div *ngIf="shippingCountry.invalid && (shippingCountry.dirty || shippingCountry.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="shippingCountry.errors.required">
                                        Country is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>street</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                                <div *ngIf="shippingStreet.invalid && (shippingStreet.dirty || shippingStreet.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="shippingStreet.errors.required || shippingStreet.errors.whiteSpace">
                                        Street is required
                                    </div>
                                    <div *ngIf="shippingStreet.errors.minlength">
                                        Min length of 2 characters required
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>city</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                                <div *ngIf="shippingCity.invalid && (shippingCity.dirty || shippingCity.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="shippingCity.errors.required || shippingCity.errors.whiteSpace">
                                        City is required
                                    </div>
                                    <div *ngIf="shippingCity.errors.minlength">
                                        Min length of 2 characters required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>state</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option *ngFor="let theState of shippingAddressStates" [ngValue]="theState">
                                        {{theState.stateName}}
                                    </option>
                                </select>
                                <div *ngIf="shippingState.invalid && (shippingState.dirty || shippingState.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="shippingState.errors.required">
                                        State is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>zipcode</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">
                                <div *ngIf="shippingZipcode.invalid && (shippingZipcode.dirty || shippingZipcode.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="shippingZipcode.errors.required || shippingZipcode.errors.whiteSpace">
                                        Zip code is required
                                    </div>
                                    <div *ngIf="shippingZipcode.errors.minlength">
                                        Min length of 2 characters required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--checkbox to copy shipping to billing-->
                <div class="input-space">
                    <label class="au-checkbox">
                        <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)">
                        <span class="au-checkmark"></span>Billing Address same as Shipping Address
                    </label>
                </div>

                <!--Billing adres-->
                <div formGroupName="billingAdres" class="form-area">
                    <h3>Billing Adres</h3>
                    <div class="row">
                        <div class="col-md-2">
                            <label>country</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change)="selectCorrespondingStates('billingAdres')">
                                    <option *ngFor="let theCountry of countries" [ngValue]="theCountry">
                                        {{theCountry.countryName}}
                                    </option>
                                </select>
                                <div *ngIf="billingCountry.invalid && (billingCountry.dirty || billingCountry.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="billingCountry.errors.required">
                                        Country is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>street</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                                <div *ngIf="billingStreet.invalid && (billingStreet.dirty || billingStreet.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="billingStreet.errors.required || billingStreet.errors.whiteSpace">
                                        Street is required
                                    </div>
                                    <div *ngIf="billingStreet.errors.minlength">
                                        Min length of 2 characters required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>city</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                                <div *ngIf="billingCity.invalid && (billingCity.dirty || billingCity.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="billingCity.errors.required || billingCity.errors.whiteSpace">
                                        City is required
                                    </div>
                                    <div *ngIf="billingCity.errors.minlength">
                                        Min length of 2 characters required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>state</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option *ngFor="let theState of billingAddressStates" [ngValue]="theState">
                                        {{theState.stateName}}
                                    </option>
                                </select>
                                <div *ngIf="billingState.invalid && (billingState.dirty || billingState.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="billingState.errors.required">
                                        State is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>zipcode</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">
                                <div *ngIf="billingZipcode.invalid && (billingZipcode.dirty || billingZipcode.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="billingZipcode.errors.required || billingZipcode.errors.whiteSpace">
                                        Zipcode is required
                                    </div>
                                    <div *ngIf="billingZipcode.errors.minlength">
                                        Min length of 2 characters required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Credit card-->
                <div formGroupName="creditCard" class="form-area">
                    <h3>creditcard</h3>
                    <div class="row">
                        <div class="col-md-2">
                            <label>card type</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="cardType">
                                    <option>Visa</option>
                                    <option>Mastercard</option>
                                </select>
                                <div *ngIf="creditCardType.invalid && (creditCardType.dirty || creditCardType.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="creditCardType.errors.required">
                                        Credit card type is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Name on card</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="nameOnCard" type="text">
                                <div *ngIf="creditCardName.invalid && (creditCardName.dirty || creditCardName.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="creditCardName.errors.required || creditCardName.errors.whiteSpace">
                                        Credit card name is required
                                    </div>
                                    <div *ngIf="creditCardName.errors.minlength">
                                        Credit card needs at least 2 characters
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>cardnumber</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="cardNumber" type="text">
                                <div *ngIf="creditCardNumber.invalid && (creditCardNumber.dirty || creditCardNumber.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="creditCardNumber.errors.required">
                                        Credit card number is required
                                    </div>
                                    <div *ngIf="creditCardNumber.errors.pattern">
                                        Credit card number must be 16 digits
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>security code</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="securityCode" type="text">
                                <div *ngIf="creditCardSecurityCode.invalid && (creditCardSecurityCode.dirty || creditCardSecurityCode.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="creditCardSecurityCode.errors.required">
                                        Credit card security code is required
                                    </div>
                                    <div *ngIf="creditCardSecurityCode.errors.pattern">
                                        Credit card security code must be 3 digits
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>expiration month</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationMonth" type="text">
                                    <option *ngFor="let theMonth of creditMonths">
                                        {{ theMonth }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>expiration year</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationYear" (change)="handleMonthsAndYears()">
                                    <option *ngFor="let theYear of creditCardYears">
                                        {{theYear}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Order details-->
                <div class="form-area">
                    <h3>Review Your Order</h3>
                    <p>Total Quantity: {{totalQuantity}}</p>
                    <p>Shipping: FREE</p>
                    <p>Total Price: {{totalPrice | currency:"EUR"}}</p>

                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-info">Purchase</button>
                </div>
            </form>
        </div>
</div>

