<div class="detail-section">
    <div class="container-fluid">
        <img src="{{product.imageUrl}}" class="detail-img">
        <h3>{{product.productName}}</h3>
        <div class="price"> {{product.unitPrice | currency:'EUR'}}</div>
        <button class="btn btn-primary btn-sm" (click)="addToCart()">Add to cart</button>
        <hr>
        <h4>Description</h4>
        <p>{{product.description}}</p>

        <a routerLink="/products" class="mt-5">
           <p class="text-my-own-color">Back to Product List</p>
        </a>

    </div>
</div>


